{% extends "base.html" %}
{% block title %}
<title>學生資料管理系統-修改資料</title>
<style>
    h1,h3{
        text-align:center;
    }
    table{
        margin-left:auto;
        margin-right:auto;
    }
    table,th,td{
        border:1px solid black;
        border-collapse:collapse;
    }
</style>
<script>
function doubleCheck() {
  return confirm("確定要刪除這筆資料?刪除後無法復原!");
}
</script>
{%  endblock %}
{% block content %}
<div>
    <h1>學生資料管理系統-刪除資料</h1>
    <h3><a href="/index/">回首頁</a></h3>
</div>

<div>
    <form action="/delete/{{obj_data.cID}}/" method="post"> {% comment "" %}<!--要注意action method-->{% endcomment %}
        {% csrf_token %}
        <table>
            <tr>{% comment "" %}<!--要注意name -->{% endcomment %}
                <th>*姓名</th><td>{{obj_data.cName}}</td>
            </tr>
            <tr>
                <th>*性別</th>
                <td>
                    {% if obj_data.cSex == "M" %}男{% else %}女{% endif %}
                    
                </td>
            </tr>
            <tr>
                <th>*生日</th><td>{{obj_data.cBirthday|date:'Y-m-d'}}</td>
            </tr>
            <tr>
                <th>*信箱</th><td>{{obj_data.cEmail}}"</td>
            </tr>
            <tr>
                <th>&nbsp;&nbsp;電話</th><td>{{obj_data.cPhone}}</td>
            </tr>
            <tr>
                <th>&nbsp;&nbsp;地址</th><td>{{obj_data.cAddr}}"</td>
            </tr>
            <tr>
                <th colspan="2" style="text-align:center;">
                    <!--<input type="submit" name="button" id="button" value="更新">-->
                    <button type="submit" onclick="return doubleCheck();">刪除</button>
                   
                </th>

            </tr>
        </table>

    </form>
</div>
{% endblock %}